<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <h1>Portfolio</h1>
        </div>

        {% for insta_post in site.insta_posts %}
        <div class="col-md-12">
          <iframe class="instagram-media instagram-media-rendered"
            id="instagram-embed-0"
            src="https://www.instagram.com/p/{{ insta_post.id }}/embed/?cr=1&amp;v=12&amp;wp=540&amp;rd=http%3A%2F%2F127.0.0.1%3A4000&amp;rp=%2F#%7B%22ci%22%3A0%2C%22os%22%3A518.5999999812339%7D"
            allowtransparency="true" allowfullscreen="true" frameborder="0"
            height="380" data-instgrm-payload-id="instagram-media-payload-0" scrolling="no"
            style="background: white; max-width: 250px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;">
          </iframe>
        </div>
        {% endfor %}




        <!--
        <div class="col-md-12">
          <iframe class="instagram-media instagram-media-rendered"
            id="instagram-embed-0"
            src="https://www.instagram.com/p/Bm9Rg1RhHSo/embed/?cr=1&amp;v=12&amp;wp=540&amp;rd=http%3A%2F%2F127.0.0.1%3A4000&amp;rp=%2F#%7B%22ci%22%3A0%2C%22os%22%3A518.5999999812339%7D"
            allowtransparency="true" allowfullscreen="true" frameborder="0"
            height="380" data-instgrm-payload-id="instagram-media-payload-0" scrolling="no"
            style="background: white; max-width: 250px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;">
          </iframe>
        </div>
-->
<!--
          <iframe class="instagram-media instagram-media-rendered"
            id="instagram-embed-0"
            src="https://www.instagram.com/p/Bm9Rg1RhHSo/embed/?cr=1&amp;v=12&amp;wp=540&amp;rd=http%3A%2F%2F127.0.0.1%3A4000&amp;rp=%2F#%7B%22ci%22%3A0%2C%22os%22%3A518.5999999812339%7D"
            allowtransparency="true" allowfullscreen="true" frameborder="0"
            height="380" data-instgrm-payload-id="instagram-media-payload-0" scrolling="no"
            style="background: white; max-width: 250px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;">
          </iframe>
-->
            <!-- Generate such a widget at snapwidget.com for your name -->
            <!-- Copy/paste code here or just update the snapwidget value at _config.yml -->
<!--
            <script src="https://snapwidget.com/js/snapwidget.js"></script>
            <iframe src="https://snapwidget.com/embed/{{ site.snapwidget }}"
              class="snapwidget-widget"
              allowTransparency="true"
              frameborder="0"
              scrolling="no"
              style="border:none; overflow:hidden; width:100%;">
            </iframe>

-->

            <!-- SnapWidget -->
<!--
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<iframe src="https://snapwidget.com/embed/689732" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
<div style="font:10px/14px 'Roboto','Helvetica Neue',Arial,Helvetica,sans-serif;font-weight:400;width:100%;text-align:right"><a href="https://snapwidget.com" style="color:#777;text-decoration:none;">SnapWidget · Instagram Widget</a></div>
-->

        </div>
    </div>
</section>
