<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Bist du bereit für ein bisschen Action?</h2>
        <p class="lead">
          Wie klingt es für dich abzuheben und wie ein Vogel durch die Luft zu gleiten? <br>
          Ich nehme dich mit und zeige dir bei einem Tandemflug mit dem Gleitschirm
          unser wunderschönes Franken aus einer ganz neuen Perspektive. Perfekt als für ein
          persönliches Highlite oder als Geschenk für deine Liebsten.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
