<footer id="contact" class="bg-primary">
  <div class="container">
    <div class="row">

      <div class="col-lg-10 col-lg-offset-1">

        <div class="row">

          <div class="col-md-4 col-sm-5">
            <ul class="list-unstyled">
              <li class="lead">
                <a href="https://instagram.com/{{ site.instagram }}" target="_blank">
                  <i class="fa fa-instagram fa-fw fa-2x"></i>
                  #{{ site.instagram }}
                </a>
              </li>
              <li class="lead">
                <i class="fa fa-phone fa-fw fa-2x"></i> {{ site.telephone }}
              </li>
              <li class="lead">
                <a href="mailto:{{ site.email }}">
                  <i class="fa fa-envelope-o fa-fw fa-2x"></i>
                  {{ site.email }}
                </a>
              </li>
            </ul>
          </div>

          <div class="col-md-4 col-sm-5">
            <ul class="list-unstyled">

              <li>
                <a href="{{ site.baseurl }}privacy-policy.html">
                  <p>Datenschutzerklärung</p>
                </a>
              </li>
              <li>
                <a href="{{ site.baseurl }}impressum.html">
                  <p>Impressum</p>
                </a>
              </li>
              <li>
                <p>Alle angegebenen Preise sind Endpreise zzgl. Liefer-/Versandkosten. Aufgrund des Kleinunternehmerstatus gem. § 19 UStG erheben wir keine Umsatzsteuer und weisen diese daher auch nicht aus.</p>
              </li>
            </ul>
          </div>

        </div>

        <div class="row text-right">
          <p style="color: #00000082;">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
        </div>

      </div>
    </div>
  </div>
</footer>
